@charset "UTF-8";
@import "main.scss";

.topbanner{
    @include div(100%,70px,0,0,0);
}
.topbanner_div{
    @include div(1200px,70px,"auto",0,1px solid blue);
    &>li{
        width: 490px;
    &>li{
        width: 490px;
        &>img{
            width: 100%;
            object-fit: cover;
        }
    }
    &>li:last-child{
        width: 220px;
    }
}
}