@charset "UTF-8";
@import "main.scss";

.clear{clear: both;}
.topbanner{
    height: auto;
}
.topbanner_div{
    @include div(1200px,70px,"auto",0,0);
    &>ul{
        @include div(100%,70px,"auto",0,0);
        &>li{
            width: 490px;
            height: 70px;
            float: left;
            &>img{
                width: 100%;
                object-fit: cover;
            }
        }
        &>li:last-child{
            width: 220px;
            @include position("re");
            &>.topbanner_closebtn{
                @include position("ab");
                @include div(50px,70px,0,0,0);
                right: 0;
                @include font("noto",700,30,#333);
                cursor: pointer;
                text-align: center;
                line-height: 70px;
            }
        }
    }

}

.top{
    height: auto;
    @include bg(0,#ccc,"");
}
.top_menu{
    @include div(1200px,30px,"auto",0,0);
    @include font("noto","700",12,#333);
    @include position("re");
}
.topmenu{
    &>li{
        @include div(80px,30px,0,0,0);
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        float: left;
    }
}
.left_menu{
    
    float: left;
    &>li{@include position("re");}
    &>li::after{@include position("ab"); right: 0;}
    &>li:first-child::after{content: "|";}
    &>li:last-child::after{content: "▼";}
}
.right_menu{
    float: right;
}

.nav{
    height: auto;
}
.nav_div{
    @include div(1200px,150px,"auto",0,0);
    margin:10px 0 10px 0;
    border: 1px solid pink;
    &>.logo{
        @include div(100%,30px,0,0,0);
        background: url("./image/logo.png") no-repeat center center;
        background-size: contain;
    }
    &>.search{
        @include div(100%,40px,0,0,0);
        &>input{
            @include input(600,30,20,1px solid rgb(35, 129, 236),0);
            @include font("noto","700",12,#333);
        }
        &>button{
            @include input(80,30,20,1px solid rgb(35, 129, 236),0);
            @include bg(0,rgb(35, 129, 236),"");
            @include font("noto","700",12,#fff);
        }
    }
}


